body {
    color:RoyalBlue;
    background-color: #FFFAFA;
}

#header{
    background-color: gray;
    color: white;
    text-align: center;
    padding:5px;
}

#navigation {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:200px;
    float:left;
    padding:5px; 
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

a {
    background-color: orange;
}